@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
    font-family: "Poppins", sans-serif;
}
:root {
    --primary-Color: #205EC8;
    --secondary-Color: #3F3A64;
    --text-Color: #273044;
    --alert-Color: #0099ff;
    --success-Color: #39CABD;
    --warning-Color: #EE8800;
    --error-Color: #FE514C;
    --grey-Color: #7A7A7A;
    --black-Color: #2B3940;
    --main-Background-Color: #FFFFFF;
    --secondary-Background-Color:#4ED7A8;
    --secondary-Font: "Montserrat", sans-serif;
    --button-padding: 10px 40px;
    --button-border-radius: 50px;
    --button-font-weight: 400;
    --logo-border-radius: 15px;
    --jumbotron-padding: 30px 16px;
    --section-padding:30px 0px;
    --heading:50px;
    --heading-large: 35px;
    --heading-medium: 25px;
    --paragraph: 18px;
}
.fdb-block {
    padding: 0rem 0;
}
/* headera2298f7674281b49 */
.headera2298f7674281b49 .widgets_div .icon_div span i {
    color: var(--primary-Color);
}
.headera2298f7674281b49 .btn-primary,
.headera2298f7674281b49 .btn-primary:hover,
.headera2298f7674281b49 .btn-primary:not(:disabled):not(.disabled):active{
    background-color: var(--primary-Color);
}
.headera2298f7674281b49 .navbar-light .navbar-nav .active>.nav-link,
.headera2298f7674281b49 .navbar-light .navbar-nav .nav-link{
    color: var(--black-Color);
}
/* abouth66a519b827a7d261 */
.abouth66a519b827a7d261 .DescriptionHeading{
    font-size: var(--heading);
    color: var(--text-Color);
}
.abouth66a519b827a7d261 .DescriptionPara{
    font-size: var(--paragraph);
}
.abouth66a519b827a7d261 .searchBtn {
    background-color: var(--secondary-Background-Color);
    border-radius: var(--button-border-radius);
    color: var(--black-Color);
    font-weight: var(--button-font-weight);
    padding: var(--button-padding);
}
/* felicityfr3poxt3ngm */
.felicityfr3poxt3ngm{
    padding: var(--section-padding);
}
.felicityfr3poxt3ngm h3 {
    font-size: var(--heading-medium);
    margin-top: 10px;
}
.felicityfr3poxt3ngm .btn-primary,
.felicityfr3poxt3ngm .btn-primary:hover,
.felicityfr3poxt3ngm .btn-primary:not(:disabled):not(.disabled):active{
    background-color: var(--primary-Color);
    border-color: var(--primary-Color);
    font-weight: var(--button-font-weight);
}
.felicityfr3poxt3ngm strong {
    font-weight: var(--button-font-weight) !important;
}
/* blogec6cc8e186617bf6 */
.blogec6cc8e186617bf6{
    padding: var(--section-padding);
}
.blogec6cc8e186617bf6 .my-3{
    font-size: var(--heading-large);
}
.blogec6cc8e186617bf6 .blog-home3 h3{
    color: var(--text-Color);
}
.blogec6cc8e186617bf6 .blog-home3 .subtitle {
    color: var(--black-Color);
    font-size: var(--paragraph);
}
.blogec6cc8e186617bf6 .blog-home3 .bg-success-gradient{
    background: linear-gradient(to bottom, var(--secondary-Background-Color) 0%, var(--main-Background-Color) 218%);
}
.blogec6cc8e186617bf6 .blog-home3 .date-pos{
    font-size: 16px;
    color: var(--black-Color) !important;
    font-weight: 600;
}
.blogec6cc8e186617bf6 .blog-home3 h5{
    font-size: var(--paragraph);
}
.blogec6cc8e186617bf6 p{
    margin-left: 11px;
}
/* counteraf598102c9dad94e */
.counteraf598102c9dad94e{
    padding: var(--section-padding);
}
.counteraf598102c9dad94e h2 {
    font-size: var(--heading-large);
    color: var(--secondary-Background-Color);
}
.counteraf598102c9dad94e h4 {
    font-size: var(--paragraph);
    color: var(--black-Color);
}
/* formft4wqz7r3sf */
.formft4wqz7r3sf {
   padding: var(--section-padding);
}
.formft4wqz7r3sf h2{
    font-size: var(--heading-large);
}
.formft4wqz7r3sf .lead {
    font-size: var(--paragraph);
}
.formft4wqz7r3sf .btn-primary,
.formft4wqz7r3sf .btn-primary:hover,
.formft4wqz7r3sf .btn-primary:not(:disabled):not(.disabled):active{
    background-color: var(--primary-Color);
    border-color: var(--primary-Color);
    font-weight: var(--button-font-weight);
}
.formft4wqz7r3sf .fdb-block{
    padding: 1.5rem 0;
}
/* sliders1fae57451461b568 */
.sliders1fae57451461b568{
   padding: var(--section-padding);
}
.sliders1fae57451461b568 h3{
    font-size: var(--heading-large);
}
.sliders1fae57451461b568 .btnStyle {
    background-color: var(--secondary-Background-Color);
}
.sliders1fae57451461b568 .icon {
    color: var(--black-Color);
}
.sliders1fae57451461b568 .card-text {
    font-weight: 600 !important;
}
.sliders1fae57451461b568 .card img{
    margin-left: 15px;
}
.sliders1fae57451461b568 .pb-5,
.sliders1fae57451461b568 .pt-5{
 padding: 0rem;
}

/* testimonialtmgmxjq0hb8 */
.testimonialtmgmxjq0hb8 .lead {
    font-size: var(--paragraph);
    font-weight: var(--button-font-weight);
}
.testimonialtmgmxjq0hb8 .h3 {
    font-size: var(--heading-two);
}
.testimonialtmgmxjq0hb8 strong {
    font-weight: 600 !important;
}
.testimonialtmgmxjq0hb8 .fdb-block{
    padding: 1.5rem 0
}
/* floresfts2q9glqh3 */
.floresfts2q9glqh3 .fdb-block {
    padding: 1.5rem 0;
}
.floresfts2q9glqh3 .bg-dark {
    background-color: #273044 !important;
}
.floresfts2q9glqh3 h3{
    font-size: var(--heading-two);
}
.floresfts2q9glqh3 a,
.floresfts2q9glqh3 a:hover{
    color: var(--secondary-Background-Color);
}